.advantages
	.container
		.advantages__advantage
			.advantages__advantage__icon.advantages__advantage__icon--phone
			.advantages__advantage__title
				| Optimized for all devices
			.advantages__advantage__text
				| STRICT has been designed to be fully responsive on all devices
		.advantages__advantage
			.advantages__advantage__icon.advantages__advantage__icon--telegram
			.advantages__advantage__title
				| Optimized for all devices
			.advantages__advantage__text
				| STRICT has been designed to be fully responsive on all devices
		.advantages__advantage
			.advantages__advantage__icon.advantages__advantage__icon--megaphone
			.advantages__advantage__title
				| Optimized for all devices
			.advantages__advantage__text
				| STRICT has been designed to be fully responsive on all devices
