.contacts
	.container
		.contacts__title
			| Stay with us
		.contacts__text
			| We ensure quailty & support
		form.contacts__form
			input.contacts__form__name(type="text" placeholder="Full Name")
			input.contacts__form__email(type="email" placeholder="Email Adress")
			textarea.contacts__form__message(placeholder="Message")
			label.contacts__form__checkbox
				input(type="checkbox")
				span.contacts__form__checkbox__mark
				span.contacts__form__checkbox__text Subscribe Newsletter
			button.contacts__form__submit(type="submit")
				| Send
