footer.footer
	.container
		.footer__copyright
			| Copyright 2014, STRICT
		.footer__links
			a.footer__link.footer__link--facebook(href="#")
			a.footer__link.footer__link--twitter(href="#")
			a.footer__link.footer__link--google(href="#")
			a.footer__link.footer__link--in(href="#")
