header.header
	.header__line
		.container
			a.header__line__logo(href="/")
				img(src="images/logo.png" alt="Strict")
	.header__banner
		.container
			.header__banner__title
				| Strict
			.header__banner__description
				| STRICT is a responsive theme with a a clean and minimal look.
			.header__banner__button
				a(href="#") Call to action