.works
	.container
		.works__title
			| Showcase your work like a pro.
		.works__description
			| Contact me if you like my work
		.works__list
			.works__work
				img.works__work__image(src="images/work-1.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-1.jpg" rel="gallery1")
					a.works__work__link(href="#")
			.works__work
				img.works__work__image(src="images/work-2.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-2.jpg" rel="gallery1")
					a.works__work__link(href="#")
			.works__work
				img.works__work__image(src="images/work-3.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-3.jpg" rel="gallery1")
					a.works__work__link(href="#")
			.works__work
				img.works__work__image(src="images/work-4.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-4.jpg" rel="gallery1")
					a.works__work__link(href="#")
			.works__work
				img.works__work__image(src="images/work-5.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-5.jpg" rel="gallery1")
					a.works__work__link(href="#")
			.works__work
				img.works__work__image(src="images/work-1.jpg" alt="")
				.works__work__overlay
					a.works__work__plus.fancybox(href="images/work-1.jpg" rel="gallery1")
					a.works__work__link(href="#")
