.footer {
	padding-bottom: 24px;

	&__copyright {
		display: inline-block;
		margin-top: 31px;
		font-size: 15px;
		line-height: 25px;
		color: $color-dusty-gray;
	}

	.container {
		display: flex;
		justify-content: space-between;

		&::after {
			display: none;
		}
	}

	&__links {
		padding-top: 25px;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin-right: 5px;
		width: 40px;
		height: 40px;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&--facebook {
			background: #3b5998;

			&::before {
				@include sprite("facebook");
			}

			&:hover {
				background: darken(#3b5998, 8%);
			}
		}

		&--twitter {
			background: #55acee;

			&::before {
				@include sprite("twitter");
			}

			&:hover {
				background: darken(#55acee, 8%);
			}
		}

		&--google {
			background: #dd4b39;

			&::before {
				@include sprite("google");
			}

			&:hover {
				background: darken(#dd4b39, 8%);
			}
		}

		&--in {
			background: #0976b4;

			&::before {
				@include sprite("in");
			}

			&:hover {
				background: darken(#0976b4, 8%);
			}
		}
	}
}
