$sprites: (
	"arrow-header": (
		normal: (
			x: 34,
			y: 45,
			width: 20,
			height: 12,
			image: "sprites.png",
			total_width: 88,
			total_height: 97,
		),
		retina: (
			x: 68,
			y: 90,
			width: 40,
			height: 24,
			image: "sprites@2x.png",
			total_width: 176,
			total_height: 194,
		),
	),
	"megaphone": (
		normal: (
			x: 44,
			y: 0,
			width: 44,
			height: 38,
			image: "sprites.png",
			total_width: 88,
			total_height: 97,
		),
		retina: (
			x: 88,
			y: 0,
			width: 88,
			height: 76,
			image: "sprites@2x.png",
			total_width: 176,
			total_height: 194,
		),
	),
	"phone": (
		normal: (
			x: 0,
			y: 45,
			width: 32,
			height: 52,
			image: "sprites.png",
			total_width: 88,
			total_height: 97,
		),
		retina: (
			x: 0,
			y: 90,
			width: 64,
			height: 104,
			image: "sprites@2x.png",
			total_width: 176,
			total_height: 194,
		),
	),
	"telegram": (
		normal: (
			x: 0,
			y: 0,
			width: 42,
			height: 43,
			image: "sprites.png",
			total_width: 88,
			total_height: 97,
		),
		retina: (
			x: 0,
			y: 0,
			width: 84,
			height: 86,
			image: "sprites@2x.png",
			total_width: 176,
			total_height: 194,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
