// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-porcelain: #f6f9f9;
$color-dodger-blue: #15a4fa;
$color-dusty-gray: #999;

// FONTS
$font-family-lato: "Lato", sans-serif;
