// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-porcelain: #f6f9f9;
$color-dodger-blue: #15a4fa;

// FONTS
$font-family-lato: "Lato", sans-serif;
